In [1]:
import pandas as pd

In [5]:
# chargement des dataset
df_asso = pd.read_csv('03.csv')
df_nomenclature = pd.read_csv('https://data.atontour.info/RNA/nomenclature.csv', sep=';')

In [13]:
# Convert en string
df_asso['adrs_codepostal'] = df_asso['adrs_codepostal'].astype(str)
df_asso['objet_cat'] = df_asso['objet_cat'].astype(str)
df_nomenclature['code_parent'] = df_nomenclature['code_parent'].astype('str')

C:\Users\suifo\AppData\Local\Temp\ipykernel_33956\2782459993.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_asso['adrs_codepostal'] = df_asso['adrs_codepostal'].astype(str)
C:\Users\suifo\AppData\Local\Temp\ipykernel_33956\2782459993.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_asso['objet_cat'] = df_asso['objet_cat'].astype(str)

In [11]:
#nettoyage du dataset
df_assoclean = df_asso[df_asso['adrs_codepostal'].astype(str).str.startswith('3')]

In [14]:
#merge avec la nomenclature
df_assoclean = df_asso.merge(df_nomenclature, left_on='objet_cat', right_on='code_parent', how='inner')

<bound method NDFrame.head of              id       id_ex  siret  rup_mi gestion  date_creat  date_decla  \
0    W032001345  32005206.0    NaN     NaN    032P  2003-07-02  2005-02-02
1    W031003191         NaN    NaN     NaN    031S  2017-11-14  2017-11-14
2    W032000751  32001681.0    NaN     NaN    032P  1968-10-29  2021-11-07
3    W032003451         NaN    NaN     NaN    032P  2017-09-17  2017-09-17
4    W033002263  33005917.0    NaN     NaN    033S  1993-10-21  1993-10-21
..          ...         ...    ...     ...     ...         ...         ...
192  W032001565  32003001.0    NaN     NaN    032P  1986-11-17  2005-12-01
193  W031002231  31004497.0    NaN     NaN    031S  2000-03-21  2001-10-23
194  W031002471         NaN    NaN     NaN    031S  2013-01-31  2022-02-02
195  W033002160  33004636.0    NaN     NaN    033S  1986-10-29  2022-09-06
196  W031002187  31001781.0    NaN     NaN    031S  1969-06-25  2011-04-22

     date_publi  date_disso groupement  ... siteweb position objet_cat  \
0    1901-07-01  0001-01-01          S  ...     NaN        A         6
1    2017-11-25  0001-01-01          S  ...     NaN        A        17
2    1968-11-16  0001-01-01          S  ...     NaN        A        22
3    2017-09-30  0001-01-01          S  ...     NaN        A         6
4    1993-12-08  0001-01-01          S  ...     NaN        A        19
..          ...         ...        ...  ...     ...      ...       ...
192  1986-12-03  0001-01-01          S  ...     NaN        A        11
193  2000-04-15  0001-01-01          S  ...     NaN        A        20
194  2013-02-16  0001-01-01          S  ...     NaN        A         6
195  1986-11-12  0001-01-01          S  ...     NaN        A         7
196  1969-07-26  0001-01-01          S  ...     NaN        A        38

               objet_list                                     nom annee_creat  \
0    ['006000', '000000']       PI ASSOCIATION TRANSFEREE A PARIS        2003
1    ['017065', '000000']  AMICALE DES DONNEURS DE SANG DE CER...        2017
2    ['022510', '000000']  CANTINE SCOLAIRE DE SAINT GERMAIN D...        1968
3    ['006030', '000000']                            TAPATA BLUES        2017
4    ['019040', '019040']                                 PARTAGE        1993
..                    ...                                     ...         ...
192  ['011010', '000000']  ASSOCIATION SPORTIVE DU LEP AGRICOL...        1986
193  ['020020', '000000']                        PLANETE HARMONIE        2000
194  ['006020', '000000']                    LES TUBES DE COULEUR        2013
195  ['007000', '000000']                  BRIDGE CLUB VICHYSSOIS        1986
196  ['038105', '000000']   COMITE DE L'ASSOCIATION NATIONALE DES        1969

    membres benefices code_parent  \
0       121     22302           6
1       163      4315          17
2        41     12328          22
3        28     15168           6
4        14      5191          19
..      ...       ...         ...
192     120      2207          11
193     143     10554          20
194     113      2181           6
195       7     18403           7
196      59     13247          38

                                        libelle_parent
0    CULTURE, PRATIQUES D'ACTIVITÉS ARTISTIQUES, PR...
1                                                SANTÉ
2                     CONDUITE D'ACTIVITÉS ÉCONOMIQUES
3    CULTURE, PRATIQUES D'ACTIVITÉS ARTISTIQUES, PR...
4                               INTERVENTIONS SOCIALES
..                                                 ...
192                     SPORTS, ACTIVITÉS DE PLEIN AIR
193  ASSOCIATIONS CARITATIVES, HUMANITAIRES, AIDE A...
194  CULTURE, PRATIQUES D'ACTIVITÉS ARTISTIQUES, PR...
195                        CLUBS DE LOISIRS, RELATIONS
196  ARMÉE (DONT  PRÉPARATION MILITAIRE, MÉDAILLES)...

[197 rows x 24 columns]>

In [16]:
df_assoclean = df_assoclean.drop(columns=['siret', 'rup_mi', 'gestion', 'id_ex', 'siteweb', 'objet_list'])

In [18]:
df_assoclean.to_csv('asso.csv')